* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.desc-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 50px;
  width: 70%;
  margin: 5% auto 2%;
  padding: 30px 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  /* border:1px solid; */
}

.thumbnails {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 40px;

}

.thumbnail {
  margin-bottom: 10px;
  cursor: pointer;

}

.thumbnail img {
  max-width: 120px;
  opacity: 80%;
  transform: scale(.91);
}

.thumbnail img:hover {
  opacity: 100%;
  transform: scale(1);
}

.desc-image {
  margin-right: 50px;
  margin-top: 60px;
  transform: scale(.97);
}
.desc-image:hover{
  transform: scale(1);
}

.details-image img {
  max-width: 400px;

}

.details-details {
  max-width: 500px;
  text-align: left;

}

.details-name {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.details-price {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 700;
  color: #cc5500;
}

.details-mrpprice {
  color: #333;
  font-weight: 700;
}

.details-description {
  margin-top: 5px;
  font-size: 16px;
  color: #666;
}

.details-dimension {
  margin: 10px 0px;
  font-weight: 700;
  color: #333;
}

.details-rating {
  margin-top: 5px;
}

.details-rating-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.details-stars {
  font-size: 20px;
  color: green;
}h2 {
  font-size: 30px;
  font-weight: 600;
  color: #323232;
}

.details-buy-now {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffcc01;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.details-buy-now:hover {
  background-color: #FF9C0D;
}

.details-buy-btn-div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-add-now {
  margin-top: 10px;
  border: none;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: #FF9C0D;
  transform: scale(1.2);

}
.details-add-now:hover{
  transform: scale(1.6);
}

.details-add-now:hover {
  color: red;
}

.details-disc {
  color: green;
  font-weight: 700;
}

.details-discount {
  font-weight: 700;
  color: #333;

}


/* review part  */

.review-container{
  /* border: 1px solid; */
  width: 40%;
  margin:  1% auto;

}
.review-container div{
  /* border: 1px solid; */

  height: 100px;
}
.review-starts{
  color: green;
}
.review-container h4{
  color: #cc5500;
}
.review-container h4+p{
  color: #666;
  font-weight: 600;
}
.txt-review{
  margin-bottom: -35px;
}
@media (max-width: 767px) {
  /* CSS properties for small screens */
  .desc-container{
  padding-top: -30px;
    display: flex;
    flex-wrap: wrap;
    padding:  20px 20px ;
    width: 90%;
  }
  .thumbnails{
    display: flex;
    width: 100%;
    flex-direction: row;
    /* border: 1px solid; */
    display: none;
  }
  .desc-image {
    margin: 10px 0px 0px 20px;
 
  }
  .details-buy-btn-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details-add-now {
    margin-top: 20px;
    border: none;
    height: 40px;
    background-color: rgb(255, 255, 255);
    color: #FF9C0D;
    transform: scale(1.2);
  
  }
}

/* Styles for medium screens */
@media (min-width: 768px) and (max-width: 1023px) {
  /* CSS properties for medium screens */
  .desc-container{
    padding-top: -30px;
      display: flex;
      flex-wrap: wrap;
      padding:  20px 20px 40px 20px;
      width: 90%;
    }
    .details-details{
      margin: 20px -90px 0px 10px;
    }
}

/* Styles for large screens */
@media (min-width: 1024px) {
  /* CSS properties for large screens */
  .details-buy-btn-div {
    width: 80%;
 
  }
  .desc-container{
   
      width: 70%;
    }
}